.article {
    color: #333;
    border: 1px solid #eee;
    padding: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
}

.article .thumb img {
    width: 150px;
    margin: 15px 0;
}

.article .content {
    width: 650px;
    margin: 0 20px;
}

.article .content > div {
    margin: 0 0 10px 0;
}

.article .title {
    font-weight: bold;
    color: #333;
    text-align: left;
    font-size: 18px;
}

.article .summary {
    font-size: 15px;
}

.article .publisher {
    font-weight: bold;
}

.article .entity {
    margin: 10px 10px 0 0;
}